.container {
  margin-left: 200px;
  padding: 20px;
  min-height: 100vh;       /* ocupa toda a altura da tela */
  background-color: #f5f5f5; /* fundo cinza claro em toda a tela */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
}

.logoutTop {
  background-color: white;
  color: #0055ff;
  border: 1px solid #0055ff;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.logoutTop:hover {
  background-color: #0099ff;
  color: white;
  border-color: #0099ff;
}

/* Barra de pesquisa */
.topBar {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin: 20px 0;
  align-items: center;
}

.searchGroup {
  flex: 1;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 8px;
  max-width: 500px;
}

.searchIcon {
  margin-right: 8px;
  font-size: 1.2rem;
}

.searchInput {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 0.95rem;
}

.createButton {
  background-color: #0055ff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.createButton:hover {
  background-color: #4d8dff;
}

/* Tabela */
.table {
  width: 100%;
  border-collapse: collapse;
  background: #fff; /* fundo branco para tabela */
  border-radius: 8px;
  overflow: hidden;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  vertical-align: middle; /* centraliza verticalmente */
}

.produtoImg {
  width: 100px;          /* área fixa */
  height: 100px;
  object-fit: contain;   /* mostra a imagem inteira sem cortar */
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #fff; /* fundo branco para padronizar */
  padding: 4px;
}

.acoes {
  width: 180px; /* largura maior para caber os 3 ícones */
}

.actionsCell {
  display: flex;
  justify-content: center;
  align-items: center; /* centraliza verticalmente */
  gap: 8px;
  height: 100%; /* ocupa toda a altura da célula */
}

/* Botões de ação */
.editButton{
  background-color: #0055ff; /* azul padrão */
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.editButton:hover{
  background-color: #4d8dff; /* azul mais claro no hover */
}

.detailsButton {
  background-color: #ff8c00; /* azul padrão */
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.detailsButton:hover {
  background-color: #e5a361; /* azul mais claro no hover */
}


.deleteButton {
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #d65959;
}

.empty {
  text-align: center;
  padding: 20px;
  color: #666;
}
