/* front/src/pages/Login/Login.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
}

.card {
  background-color: rgba(74, 110, 194, 0.349);
  padding: 50px;
  border-radius: 16px;
  width: 400px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: rgb(0, 47, 255);
  font-size: 35px;
  margin-bottom: 55px;
  background-color: #ffffff;
  padding-inline: 20px;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  font-size: 1rem;
  width: 100%;
}

.input::placeholder {
  color: #555;
}

.button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #0055ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover:not(:disabled) {
  background-color: #0099ff;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.textoCadastro {
  margin-top: 30px;
  color: #0055ff;
  font-size: 0.95rem;
}

.linkCadastro {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.linkCadastro:hover {
  color: #0099ff;
}